<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../fragmente/head') %>
    <title>Scoala de Șoferi Schumacher - Cursuri Auto Profesionale pentru Obținerea Permisului</title>
</head>

<body>
  <%- include('../fragmente/header') %>
    <main>
      <div id="acasa">
        <h1><em>Bine ați venit la Școala de Șoferi Schumacher Galati!</em></h1>
        <p>Informații generale despre școală și ofertele speciale.</p>
        <section id="home-images">
          <img src="./resurse/imagini/masina-scoala.png" alt="masina scoala de soferi">
          <img src="./resurse/imagini/scoala1.png" alt="cursuri conducere categoria B">
          <img src="./resurse/imagini/scoala2.jpg" alt="obtinere permis auto">
        </section>
      </div>
      <!-- <section>
        <img src="./resurse/imagini/masina-scoala.png" alt="masina scoala de soferi">
        <img src="./resurse/imagini/scoala1.png" alt="cursuri conducere categoria B">
        <img src="./resurse/imagini/scoala2.jpg" alt="obtinere permis auto">
      </section> -->
      </div>
      <div class="content-grid">
        <div id="cursuri">
          <h2>Cursurile Noastre</h2>
          <p>Detalii despre cursurile disponibile pentru diferite categorii de permis:</p>
          <ul>
            <li>Categoria A</li>
            <img src="./resurse/imagini/categoriaA.jpg" alt="motocicleta categoria A">
            <li>Categoria B</li>
            <img src="./resurse/imagini/categoriaB.jpg" alt="masina categoria B">
            <li>Categoriile C/CE</li>
            <img src="./resurse/imagini/categoriaC.jpg" alt="camion categoria C">
          </ul>
        </div>
        <div id="varste-minime" <article>
          <h2>Vârste Minime pentru Obținerea Permisului de Conducere</h2>

          <ul>
            <li><strong>16 ani</strong>
              <ul>
                <li>Mopede, categoria AM</li>
                <li>Motociclete ușoare, categoria A1</li>
                <li>Cvadraciclu, categoria B1</li>
              </ul>
            </li>

            <li><strong>18 ani</strong>
              <ul>
                <li>Motociclete standard, categoria A2
                </li>
                <li>Mașini, categoria B, BE</li>
                <li>Vehicule de mărime medie, categoria C1, C1E</li>
              </ul>
            </li>

            <li><strong>20 ani</strong>
              <ul>
                <li>Motociclete grele, categoria A
                  <p><em>Notă</em>: Este necesară experiență de 2 ani pe categoria A2 sau vârsta de 24 de ani pentru
                    obținere directă.</p>
                </li>
              </ul>
            </li>

            <li><strong>21 ani</strong>
              <ul>
                <li>Vehicule mari, categoria C, CE</li>
                <li>Microbuze, categoria D1, D1E</li>
              </ul>
            </li>

            <li><strong>24 ani</strong>
              <ul>
                <li>Autobuze, categoria D, DE</li>
              </ul>
            </li>
          </ul>
          </article>
        </div>
        <div id="instructori">
          <h2>Instructorii Noștri</h2>
          <p>Informații despre instructorii școlii de șoferi.</p>
          <ul>
            <li>Robert Popa</li>
            <img src="./resurse/imagini/instructor1.jpg">
            <li>Ana-Maria Petrescu</li>
            <img src="./resurse/imagini/instructor2.jpg">
          </ul>
        </div>

        <div id="inscriere">
          <h2>Înscrie-te acum!</h2>
          <p>Detalii despre procedura de înscriere și formularul online.</p>
          <p>
            <a href="https://www.drpciv-romania.ro/Code/Applications/web/index.cgi?action=codulrutier" target="_blank">
              Informații suplimentare legislație
            </a>
          </p>
        </div>
      </div>
    </main>
    <a href="#top" class="back-to-top" title="Go to the top">
      <span class="arrow">&#8593;</span>
    </a>
    <%- include('../fragmente/footer') %>
      <script src="/resurse/js/script.js"></script>
</body>

</html>
